.poz{
    position: absolute;
    margin-left: 200%;
    margin-top: -75%;
}

.row{
    margin-top: 3%;
    position: static;
}

#checkboxes label{
    display:block;
    padding:10px;
}

.bg{
    background-image: url('res/bg_image.jpg');
}